 # Exercise 3-1 list

In [10]:

names:list = ['ali','bilal','khubaib','hassan','shafay','abdullah']

In [3]:
print(names[0])

ali

In [4]:
print(names[1])

bilal

In [5]:
print(names[2])

khubaib

In [6]:
print(names[3])

hassan

In [7]:
print(names[4])

shafay

In [8]:
print(names[5])

abdullah

# Exercise 3-2 Greeting

In [12]:
print(f"i love you buddy {names[0]}")

i love you buddy ali

In [13]:
print(f"i love you buddy {names[1]}")

i love you buddy bilal

In [14]:
print(f"i love you buddy {names[2]}")

i love you buddy khubaib

In [15]:
print(f"i love you buddy {names[3]}")

i love you buddy hassan

In [16]:
print(f"i love you buddy {names[4]}")

i love you buddy shafay

In [17]:
print(f"i love you buddy {names[5]}")

i love you buddy abdullah

# Exercise 3-3 Your Own List

In [18]:
fav_car:list = ['Grandi','Civic','Sonata','Porshe911','Range Rover','G Wagon']

In [19]:
print(f"i want like to own {fav_car[0]}")

i want like to own Grandi

In [20]:
print(f"i want like to own {fav_car[1]}")

i want like to own Civic

In [21]:
print(f"i want like to own {fav_car[2]}")

i want like to own Sonata

In [22]:
print(f"i want like to own {fav_car[3]}")

i want like to own Porshe911

In [23]:
print(f"i want like to own {fav_car[4]}")

i want like to own Range Rover

In [24]:
print(f"i want like to own {fav_car[5]}")

i want like to own G Wagon

# Exercise 3-4 Guest List

In [2]:
guest:list = ['Ali Rana','Manahil Chaudhary','Ali chaudhary']

In [27]:
print(f"hello brother i would like to invite you on dinner tonight {guest[0]}")

hello brother i would like to invite you on dinner tonight Ali Rana

In [28]:
print(f"hello brother i would like to invite you on dinner tonight {guest[2]}")

hello brother i would like to invite you on dinner tonight Ali chaudhary

In [29]:
print(f"hello miss world i would like to invite you on dinner tonight {guest[1]}")

hello miss world i would like to invite you on dinner tonight Manahil Chaudhary

# Exercise 3-5 Changing Guest List

In [32]:
guest[0] = 'khubaib'

In [33]:
guest[1] = 'awais'

In [34]:
guest[2]= 'ayesha'

In [35]:
print(guest)

['khubaib', 'awais', 'ayesha']

In [36]:
print(f"han {guest[0]} raat ki roti meri trf teri ok ponch jana")

han khubaib raat ki roti meri trf teri ok ponch jana

In [39]:
print(f"Hello {guest[1]} brother todays dinner at my place ok ")

Hello awais brother todays dinner at my place ok

In [40]:
print(f"heloo {guest[2]} today i'm hosting dinner for all my friends at my place so you have to come")

heloo ayesha today i'm hosting dinner for all my friends at my place so you have to come

 # Exercise 3-6: More Guests

In [3]:
print(guest)

['Ali Rana', 'Manahil Chaudhary', 'Ali chaudhary']

In [4]:
print(f"hello {guest} i'm feeling great to inform you that i have a bigger table at my house to i would like to invite some more friends")

hello ['Ali Rana', 'Manahil Chaudhary', 'Ali chaudhary'] i'm feeling great to inform you that i have a bigger table at my house to i would like to invite some more friends

In [9]:
guest.insert(0,'hamza')

In [31]:
guest

('hamza', 'Ali Rana', 'Manahil Chaudhary', 'Ali chaudhary')

In [11]:
guest.insert(2,'usman')

In [12]:
guest

['hamza', 'Ali Rana', 'usman', 'Manahil Chaudhary', 'Ali chaudhary']

In [15]:
guest.append('hassan')

In [30]:
guest

('hamza', 'Ali Rana', 'Manahil Chaudhary', 'Ali chaudhary')

In [17]:
index=0

In [19]:
print(len(guest))

6

In [20]:
print(f'happy to inform that we are getting dinner together {guest[0]}')
print(f'happy to inform that we are getting dinner together {guest[1]}')
print(f'happy to inform that we are getting dinner together {guest[2]}')
print(f'happy to inform that we are getting dinner together {guest[3]}')
print(f'happy to inform that we are getting dinner together {guest[4]}')
print(f'happy to inform that we are getting dinner together {guest[5]}')

happy to inform that we are getting dinner together hamza
happy to inform that we are getting dinner together Ali Rana
happy to inform that we are getting dinner together usman
happy to inform that we are getting dinner together Manahil Chaudhary
happy to inform that we are getting dinner together Ali chaudhary
happy to inform that we are getting dinner together hassan

 # Exercise 3-7 Shrinking Guest List

In [29]:
print(f" {guest} i'm not feeling good to inform that i can only invite two friends for dinner tonight")

 ('hamza', 'Ali Rana', 'Manahil Chaudhary', 'Ali chaudhary') i'm not feeling good to inform that i can only invite two friends for dinner tonight

In [49]:
guest

('hamza', 'Ali Rana', 'Manahil Chaudhary', 'Ali chaudhary')

In [50]:
guest=list(guest)

In [51]:
uninvited_guest = guest.pop(0)

In [52]:
sorry_note= f"Sorry, {uninvited_guest}, I couldn't invite you to the dinner. I hope you understand!"

In [53]:
print(sorry_note)

Sorry, hamza, I couldn't invite you to the dinner. I hope you understand!

In [58]:
uninvited_guest=guest.pop(1)

In [55]:
sorry_note= f"Sorry, {uninvited_guest}, I couldn't invite you to the dinner. I hope you understand!"

In [56]:
print(sorry_note)

Sorry, Manahil Chaudhary, I couldn't invite you to the dinner. I hope you understand!

In [59]:
guest

['Ali Rana']

In [61]:
print(f'{guest} you are invited for dinner tonight so be on time')

['Ali Rana'] you are invited for dinner tonight so be on time

In [63]:
del guest[0]

In [64]:
print(guest)

[]

# Exercise 3-8: Seeing the World

In [2]:
fav_places:list = 'los angles', 'paris', 'dubai', 'baku', 'itly'
print(fav_places)
sorted_places = sorted(fav_places)
print(sorted_places)
print(fav_places)

('los angles', 'paris', 'dubai', 'baku', 'itly')
['baku', 'dubai', 'itly', 'los angles', 'paris']
('los angles', 'paris', 'dubai', 'baku', 'itly')

In [73]:
reverse_sorted = sorted(fav_places, reverse=True)

In [74]:
print(reverse_sorted)

['paris', 'los angles', 'itly', 'dubai', 'baku']

In [75]:
print(fav_places)

('los angles', 'paris', 'dubai', 'baku', 'itly')

In [82]:
reverse_sorted.reverse

In [83]:
reverse_sorted

['paris', 'los angles', 'itly', 'dubai', 'baku']

In [84]:
reverse_sorted.reverse

In [85]:
reverse_sorted

['paris', 'los angles', 'itly', 'dubai', 'baku']

In [86]:
fav_places.reverse

In [87]:
fav_places

['los angles', 'paris', 'dubai', 'baku', 'itly']

In [88]:
fav_places.sort

In [89]:
fav_places

['los angles', 'paris', 'dubai', 'baku', 'itly']

# Exercise 3-9: Every Function

In [3]:
countries:list = ['Pakistan','india','chaina','dubai','itly','oman']

In [5]:
print('original list', countries)

original list ['Pakistan', 'india', 'chaina', 'dubai', 'itly', 'oman']

In [6]:
countries.append('spain')

In [10]:
print('after append',countries)

after append ['Pakistan', 'india', 'chaina', 'dubai', 'itly', 'oman', 'spain']

In [13]:
countries.insert(0,'qatar')

In [14]:
print('after insert', countries)

after insert ['qatar', 'Pakistan', 'india', 'chaina', 'dubai', 'itly', 'oman', 'spain']

In [15]:
remove = countries.pop(1)

In [16]:
print('after remove', countries)

after remove ['qatar', 'india', 'chaina', 'dubai', 'itly', 'oman', 'spain']

In [17]:
print('sorted list', sorted(countries))

sorted list ['chaina', 'dubai', 'india', 'itly', 'oman', 'qatar', 'spain']

In [18]:
print('original list after sorted', countries)

original list after sorted ['qatar', 'india', 'chaina', 'dubai', 'itly', 'oman', 'spain']

In [19]:
countries.sort()

In [20]:
print('after permintaly sort', countries)

after permintaly sort ['chaina', 'dubai', 'india', 'itly', 'oman', 'qatar', 'spain']

In [21]:
countries.sort(reverse=True)

In [22]:
countries.reverse()

In [23]:
print('after reverse()', countries)

after reverce() ['chaina', 'dubai', 'india', 'itly', 'oman', 'qatar', 'spain']

In [25]:
del countries[0]

In [26]:
print('after del', countries)

after del ['dubai', 'india', 'itly', 'oman', 'qatar', 'spain']

# Exercise 3-10: Intentional Error

In [2]:
fruits:list=['apple','banana','mango']

In [3]:
print(fruits)

['apple', 'banana', 'mango']

In [5]:
print(fruits[3])

IndexError: list index out of range

In [6]:
print(fruits[2])

mango

In [7]:
if len(fruits) > 3:
    print(fruits[3])
else:
    print("Index 3 is out of range.")

Index 3 is out of range.